* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --main-font-family: 'Montserrat', sans-serif;
    --main-font-size: 16px;
    --main-line-height: 26px;

    --main-font: 16px/26px var(--main-font-family);
    --btn-fonts: 600 16px/20px var(--main-font-family);
    --link-fonts: 400 15px/20px var(--main-font-family);
    --footer-title-fonts: 700 20px/30px var(--main-font-family);

    --color-white: #fff;
    --color-orange: #FF9900;
    --color-black: #2F281E;
    --color-blue: #BCD0E5;

    /* spasing */
    --r-4: 4px;
}

body {
    font: var(--main-font);
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-orange);
}

button {
    background: var(--color-orange);
    border: 1px solid var(--color-orange);

    font-weight: 600;
    color: var(--color-white);

    border-radius: 4px;
    padding: 13px 25px;

}

button:hover {
    transition: all 3ms;
    opacity: .8;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    padding: 17px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 105px;
}

.header {
    margin: 0 0 87px;
}

/*
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.logo {
    display: block;
    background: url(../images/Logo.svg) no-repeat;
    width: 200px;
    height: 32px;
    text-indent: -9999px;
    overflow: hidden;
}

.logo a {
    display: block;
    height: 100%;
}

.header__nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header__links-account {
    display: flex;
    gap: 32px;
}

.button-sing-in {
    background: var(--color-white);
    border: 1px solid var(--color-blue);

    color: var(--color-black);
}

.button-sing-in:hover {
    background: var(--color-orange);
    border: 1px solid var(--color-orange);

    color: var(--color-white);
}

/* Main */
main {
    padding: 100px 0;
}

main section {
    margin: 0 0 100px;
}

section .container {
    flex-direction: column;
}

.first-screen .container {
    flex-direction: row;
}

.first-screen h1 {
    font: 700 44px/54px var(--main-font-family);
    margin: 0 0 30px;
}

.first-screen p {
    margin: 0 0 33px;
}

.features {
    background: url(../images/bg-features.jpg) no-repeat center bottom;
    padding: 0 0 200px;
}

.features .btn-container {
    display: flex;
    justify-content: center;
}

.features__title {
    font: 700 36px/44px var(--main-font-family);
    text-align: center;
    margin: 0 0 30px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0 0 70px;
}

.features__picture {
    background: #7752BE;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px;
}

.design .features__picture {
    background: #FAB005;
}

.test .features__picture {
    background: #F03E3D;
}

.tests .features__picture {
    background: #4DADF7;

    ;
}

.features h3 {
    font: 600 22px/27px var(--main-font-family);
    margin: 0 0 16px;
}

/* Footer */
.footer .container {
    border-top: 1px solid var(--color-blue);
    padding-top: 70px;
    align-items: flex-start;
    gap: 100px;
}

.footer__column-title {
    font: var(--footer-title-fonts);
    margin: 0 0 30px;
}

.footer__column {
    width: calc((100%-300px)/5);
}

.footer__column:last-child {
    width: calc((100%-300px)/5*2);
}

.footer__list-item {
    margin: 0 0 15px;
}

.footer__form-sing-up .field {
    border: 1px solid var(--color-blue);
    border-radius: var(--r-4);
    background: var(--color-white);
    margin: 0 0 25px;
}

.footer__form-sing-up .field input {
    border: none;
    background: none;
    padding: 15px 10px;
    color: var(--color-blue);
    outline: none;
}