/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

/* End Reset css */

/* Variable */
:root {
    /* fonts */
    --maint-fonts: 'Open Sans', sans-serif;
    --maint-font-size: 18px;
    --main-font-line-height: 25px;

    /* colors */
    --color-grey: #828282;
    --color-black: #070707;
    --bg-gray: #f6f6f6;
}

/* End Variable */

/* Global style */
body {
    font: var(--maint-font-size)/var(--main-font-line-height) var(--maint-fonts);
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 16px;
}

main section:nth-child(2n) {
    background: var(--bg-gray);
}

.home .container {
    text-align: center;

    padding: 100px 16px 70px;
}

.home .header .container {
    padding: 0 16px;
}

.home .title {
    font-family: 700 34px/46px var(--maint-fonts);
    margin: 0 0 50px;
}

footer.contact-section .title,
main section:nth-child(2n+1) .title {
    margin: 0 0 20px;
}

footer .title+p,
main section .title+p {
    margin: 0 0 50px;
}

ul,
p {
    margin: 0 0 30px;
}


/* End Global style */

/* Header */
.header__menu {
    display: flex;
    justify-content: center;
    gap: 40px;

    border-bottom: 1px solid var(--color-grey);

    padding: 28px 0;
    margin: 0;
}

.header__link {
    color: var(--color-grey);
}

.header__link:hover {
    color: var(--color-black);
}

/* End Header */

/* Hero section */
.hero-section .container {
    padding: 12px 0 0;
}

.hero-section__title {
    font: 700 48px/65px var(--maint-fonts);
    margin: 0 0 50px;
    text-align: left;
}

/* End Hero section */

/* Skills section */

.skills-section__list {
    display: flex;
    justify-content: space-between;
    gap: 97px;
}

.skills-section__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skills-section__item img {
    max-width: fit-content;
    margin: 0 auto 25px;
}

.skills-section__item-title {
    font: 700 14px/19px var(--maint-fonts);
    margin: 0 0 60px;
    color: var(--color-grey);
}

.skills-section__item-rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


/* End Skills */

/* Portfolio section */

.portfolio-section__item {
    margin: 0 0 40px;
}

.portfolio-section__item img {
    margin: 0 0 40px;
}

/* End Portfolio */

/* Footer Contact section */
.contact-section__sent-message {
    background: var(--color-black);
    border-radius: 22px;

    font: 700 var(--maint-font-size)/var(--main-font-line-height) var(--maint-fonts);
    color: #fff;

    padding: 10px 16px;
    margin: 0 0 30px;
}

.contact-section__list-socials {
    display: flex;
    justify-content: center;
    gap: 50px;

    margin: 0 0 60px;
}

.skills-section__list-socials--item-link {
    display: block;
    cursor: pointer;
}

.contact-section__sent-message:hover,
.skills-section__list-socials--item-link:hover {
    opacity: .5;
}

.contact-section__links-socials {
    font: 14px/18px var(--maint-fonts);
    color: var(--color-grey);
}

.contact-section__links-socials a {
    color: var(--color-grey);
}

.contact-section__links-socials a:hover {
    color: var(--color-black);
}

/* End Footer Contact section */