@import '../../../assets/sass/global/variebles.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 17px 0;
    z-index: 30;
    width: 100%;
    background-color: $color-black-header;
    box-shadow: -4px 6px 17px -8px rgba(0, 0, 0, 0.75);

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__nav-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__btn-container {
        display: flex;
        gap: 32px;
    }

    &__nav-item {
        position: relative;

        &:hover header__drop-down {
            max-height: 2000px;
        }
    }

    &__drop-down {
        position: absolute;
        background: $color-white;
        width: 100%;
        contain: paint;
        display: flex;
        flex-direction: column;
        gap: 10px;

        max-height: 0;
        transition: max-height 0.5s;
    }

    &__gamb {
        width: 40px;
        height: 40px;
        display: none;
        position: relative;
        cursor: pointer;

        &-line {
            position: absolute;
            top: 20px;
            left: 0;
            width: 40px;
            height: 1px;
            background-color: $color-white;
            transition: transform 0.6s;

            &--top {
                top: 10px;
            }

            &--bottom {
                top: 30px;
            }
        }
    }

    &__filter-mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .header {
        &__gamb.active &__gamb-line--middle {
            width: 0;
        }

        &__gamb.active &__gamb-line--top {
            transform: rotate(45deg) translate(6px, 6px);
        }

        &__gamb.active &__gamb-line--bottom {
            transform: rotate(135deg) translate(-8px, 7px);
        }

        &__nav.active &__nav-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            position: absolute;
            background-color: var(--color-white);
            left: 0;
            width: 100%;
            height: 100vh;
            background: $color-black-header;
        }

        &__drop-down {
            position: static;
            height: 0;
        }

        &__nav-item:hover &__drop-down {
            height: auto;
        }

        &__gamb {
            display: block;
        }

        &__nav-container {
            display: none;
            z-index: -1;
        }

        &__btn-container {
            display: flex !important;
        }

        &__filter-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-green;
            border-radius: 14px;
            width: 45px;
            height: 45px;
            padding: 10px;
        }
    }
}



/* new end */

@media (max-width: 767px) {
    .header {
        &__filter-mobile {
            padding: 10px;
        }
    }

    .header__logo {
        svg {
            width: 90%;
        }
    }

    .header__btn-container {
        gap: 10px;
        padding: 0 22px 0 0;
    }
}