/* font-family: 'Montserrat', sans-serif; */








/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg-modal);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.visible {
    visibility: visible;

}

.visible .form-login {
    transform: translateX(0px);
    opacity: 1;
    transition: all .5s;
}

.form-login {
    background-color: var(--color-white);
    width: 100%;
    max-width: 350px;
    padding: 30px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transform: translateX(-300px);
    opacity: 0;
    transition: all .5s;
}

.form-login__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


/* Header */


/* Header End */

/* Hero */
.hero {
    padding: var(--header-top) 0 0;
}

.hero__content {
    max-width: 500px;
    position: relative;
}

.hero__title {
    margin-bottom: 30px;

}

.hero__text {
    margin-bottom: 20px;

    font: var(--hero-text-fonts);
}

.hero__img {
    max-width: 644px;
    width: 140%;
    position: absolute;
    right: -700px;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.hero__container {
    position: relative;
    padding: 167px 10px 196px;
}

/* Hero End */
/* Product */
.product {
    padding: 100px 0 50px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: bottom center;

}

.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    text-align: center;
    max-width: 540px;
    margin: 0 0 50px;

}

.product__icon {
    width: 50px;
    margin: 0 0 30px;
}

.product__item-title {
    margin: 0 0 16px;
}

.product__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 70px;
}

/* Product End */


/* Tab version */

@media (max-width: 992px) {

    .hero__img {
        max-width: 414px;
        transform: translateY(-51%);
        z-index: -1;
        right: -420px;
    }



    .hero__content {
        max-width: 320px;
        position: relative;
    }

    .hero__container {

        padding: 67px 30px 56px;
    }

    .product__row {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px 20px;
    }
}

/* 
mobail */

@media (max-width: 767px) {


    .hero__container {

        padding: 40px 30px;
    }

    .hero__img {

        position: static;
        max-width: 100%;
        transform: none;

    }

    .hero__title {
        text-align: center;
        margin-bottom: 16px;
    }

    .hero__text {
        text-align: center;
    }

    .hero__content {
        max-width: 100%;

    }

    .product__row {
        grid-template-columns: repeat(1, 1fr);

    }

    .product__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}